.Container {
  width:100%;
  height: 100%;

  &[data-color='default'] {
    background-color: #fff;
  }

  &[data-color='primary'] {
    background-color: #6200ee;
  }
  &[data-color='primaryDark'] {
    background-color: #3700b3;
  }

  &[data-color='primaryLight'] {
    background-color: #f5fcfe;
  }

  &[data-color='secondary'] {
    background-color: #0ba2b3;
  }

  &[data-color='secondaryDark'] {
    background-color: #03766b;
  }

  &[data-color='dark'] {
    background-color: #0f0e0e;
  }

  &[data-color='greyOne'] {
    background-color: #797a95;
  }

  &[data-color='greyTwo'] {
    background-color: #999ab4;
  }

  &[data-color='greyThree'] {
    background-color: #bdbfd9;
  }

  &[data-color='greyFive'] {
    background-color: #f0f1f5;
  }

  &[data-bgColor='default'] {
    background-color: #fff;
  }

  &[data-bgColor='primary'] {
    background-color: rgb(255, 113, 57);
  }

  &[data-color='blue'] {
    background: linear-gradient(
      180deg,
      rgba(23, 135, 252, 0.26) 0%,
      rgba(32, 191, 169, 0.16) 55.21%,
      rgba(199, 210, 240, 0) 100%
    );
  }
}
