.Section8 {
  background-image: url('../../../../assets/images/onboardingPage/shared/DecorativeLine.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 985px;
}
