@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.Paragraph {
  font-family: Poppins !important;

  &[data-alignment='start'] {
    text-align: left;
  }

  &[data-alignment='end'] {
    text-align: right;
  }

  &[data-alignment='center'] {
    text-align: center;
  }

  & [data-size='large'] {
    font-size: 14pt;
  }

  & [data-size='default'] {
    font-size: 12pt;
  }

  & [data-size='small'] {
    font-size: 10pt;
  }

  & [data-weight='default'] {
    font-family: Poppins Regular;
  }

  & [data-weight='light'] {
    font-family: Poppins Light;
  }

  & [data-weight='bold'] {
    font-family: Poppins Bold;
  }

  & [data-color='default'] {
    color: #2e2e2e;
  }

  & [data-color='primary'] {
    color: #213053;
  }

  & [data-color='secondary'] {
    color: #fff;
  }

  & [data-color='tertiary'] {
    color: rgba(81, 81, 82, 0.7);
  }

  & [data-color='quartenary'] {
    color: #79ff8b;
  }

    & [data-color='orange'] {
    color: #faad14;
  }

      & [data-color='green'] {
    color: #52c41a;
  }

        & [data-color='red'] {
    color: #ff4d4f;
  }
        & [data-color='gray'] {
    color: gray;
  }
}
