.RegisterPage{
    background-color: linear-gradient(180deg,rgba(23,135,252,.26),rgba(32,191,169,.16) 55.21%,rgba(199,210,240,0));

    &__Card{
        background-color: #F5FCFE;
        -webkit-box-shadow: 1px 0px 4px 0px rgba(50, 50, 50, 0.37);
        -moz-box-shadow:    1px 0px 4px 0px rgba(50, 50, 50, 0.37);
        box-shadow:         1px 0px 4px 0px rgba(50, 50, 50, 0.37);
    }

}