.Section8 {
  background-image: url('../../../../assets/images/onboardingPage/shared/ballon-paper.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
