.CardModel {
  font-family: Poppins !important;
  text-align: center;
  
  
  &[data-alignment="center"]{
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &[data-alignment="default"]{
    margin:auto;
  }

  &[data-border='round'] {
    border-radius: 20px;
  }

  &[data-border='square'] {
    border-radius: none;
  }

  &[data-width='default'] {
    width: 30vw;
  }

  &[data-width='small'] {
    width: 20vw;
  }

  &[data-width='half'] {
    width: 24rem;
  }

  &[data-width='large'] {
    width: 40rem;
  }

  &[data-width='super'] {
    width: 60vw;
  }

  &[data-height='default'] {
    height: 50vh;
  }

  &[data-height='middle'] {
    height: 90vh;
  }

  &[data-height='small'] {
    height: 30vh;
  }

  &[data-height='large'] {
    height: 800px;
  }

  &[data-color='default'] {
    background-color: #fff;
  }

  &[data-color='primary'] {
    background-color: #ff994b;
  }

  &[data-color='secondary'] {
    background-color: #213053;
  }

  &[data-color='tertiary'] {
    background-color: #11115d;
  }

  &[data-color='quartenary'] {
    background-color: #79ff8b;
  }

}
