.CardModel {
  font-family: Poppins !important;

  &[data-border='round'] {
    border-radius: 20px;
  }

  &[data-border='square'] {
    border-radius: none;
  }

  &[data-width='default'] {
    width: 600px;
  }

  &[data-width='small'] {
    width: 250px;
  }

  &[data-width='half'] {
    width: 350px;
  }

  &[data-width='large'] {
    width: 800px;
  }

  &[data-height='default'] {
    height: 650px;
  }

  &[data-height='small'] {
    height: 200px;
  }

  &[data-height='large'] {
    height: 800px;
  }

  &[data-color='default'] {
    background-color: #fff;
  }

  &[data-color='primary'] {
    background-color: #ff994b;
  }

  &[data-color='secondary'] {
    background-color: #213053;
  }

  &[data-color='tertiary'] {
    background-color: #11115d;
  }

  &[data-color='quartenary'] {
    background-color: #79ff8b;
  }

}
