
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.Heading {
  font-family: Poppins !important;

  & [data-alignment='start'] {
    text-align: left;
  }

  & [data-alignment='end'] {
    text-align: right;
  }

  & [data-alignment='center'] {
    text-align: center;
  }

  & [data-color='primary'] {
    color: #213053;
  }

  & [data-color='secondary'] {
    color: #fff;
  }

  & [data-color='tertiary'] {
    color: rgba(81, 81, 82, 0.7);
  }

  & [data-color='quartenary'] {
    color: #2e2e2e;
  }

  & [data-color='quinary'] {
    color: #79ff8b;
  }

  & [data-color='senary'] {
    color: rgba(147, 147, 175, 0.7);
  }
}
