.ButtonModel {
  font-family: Poppins !important;
  border: none;
  text-align: center;

  &[data-align='center'] {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &[data-align='start'] {
    margin: auto;
  }

  &[data-border='round'] {
    border-radius: 10px;
  }

  &[data-border='square'] {
    border-radius: none;
  }

  &[data-border='circle'] {
    border-radius: 50px;
  }

  &[data-width='default'] {
    width: 200px;
  }

  &[data-width='small'] {
    width: 120px;
  }

  &[data-width='large'] {
    width: 300px;
  }

  &[data-width='full'] {
    width: 100%;
  }

  &[data-width='half'] {
    width: 50%;
  }

  @media only screen and (max-width: 600px) {
    &[data-width='default'] {
      width: 160px;
    }
  }

  &[data-height='default'] {
    height: 35px;
  }

  &[data-height='small'] {
    height: 25px;
  }

  &[data-height='large'] {
    height: 50px;
  }

  &[data-color='default'] {
    background-color: #f4511e;
    color: #fff;
  }

  &[data-color='default']:hover {
    background-color: #ff994b;
    color: #fff;
  }

  &[data-color='primary'] {
    background-color: #3700b3;
    color: white;
  }

    &[data-color='primaryText'] {
    background-color: transparent;
    color: #3700b3;
    border: none;
    outline: none;
  }

  &[data-color='primaryBorder'] {
    background-color: #fff;
    color: #3700b3;
    border-color: #3700b3;
    border-style: solid;
    border-width: 1px;
  }

  &[data-color='secondary'] {
    background-color: #0ba2b3;
    color: white;
  }

  &[data-color='secondaryBorder'] {
    background-color: #fff;
    color: #0ba2b3;
    border-color: #0ba2b3;
    border-style: solid;
    border-width: 1px;
  }
}
