.Video {
    background-image: url('../../assets/images/landingPage/instituto-semear2.png');
    background-repeat: no-repeat;
    background-size:cover;
    height: 430px;
    border-radius: none;
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items: center;
}

